* {
    margin-left: auto;
    margin-right: auto; 
}
button {
    color: white;
    font-size: 15px;
    width: 80px;
    height: 40px;
    background-color: #008EBC;
    border: none;
    display: block;
    margin-top: 5px;
}

caption {
    margin: 10px;
    width: 100%;
}