body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.1%;
    text-align: center;
    width: 100%;
}


#left-panel {
    border-radius: 15px;
    background-color: antiquewhite;
}
#right-panel {
    border-radius: 15px;
    background-color: aliceblue;
}

#right-panel label{
    margin: 2%;
}

#right-panel * {
    margin: auto;
}

ul {
    list-style: none;
}

#graph {
    background-color: cadetblue;
    height: 350px;
    width: 350px;
    margin: auto;
    color: white;
}
